@use "colors.scss";

/* TODO: remove all of the !important after i migrate off of tailwind */

blockquote {
  margin-left: 4px !important;
  padding-left: 0.6rem !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
  border-left-style: solid;
  border-left-width: 1px;
  border-color: colors.$foreground_color;
  font-style: italic;
}

h1 {
  font-size: 1.4rem !important;
  font-weight: 600 !important;
  margin-top: 0.5rem !important;
}

h2 {
  font-size: 1.2rem !important;
  font-weight: 600 !important;
  margin-top: 0.5rem !important;
}

h3 {
  font-size: 1.0rem !important;
  font-weight: 600 !important;
  margin-top: 0.5rem !important;
}

pre {
  border-radius: 0.4rem;
  font-size: 0.8rem !important;
  padding: 0.6rem 0.4rem;
}
