{% extends "base.html" %}

{% block content %}

<style>
@media (max-width: 1024px) {
  .dont-be-too-big {
    margin: 0rem 1rem;
  }
}

@media (min-width: 1024px) {
  .dont-be-too-big {
    max-width: 50vw;
  }
}
</style>

<script>

function copy(id) {
  return function() {
    const content = document.getElementById(id).innerHTML;
    navigator.clipboard.writeText(content);
  }
}

window.addEventListener("load", function (e) {
  document.getElementById("copy-lfg").addEventListener("click", copy("lfg"));
  document.getElementById("copy-mwz").addEventListener("click", copy("mwz"));
  document.getElementById("copy-boar").addEventListener("click", copy("boar"));
});

</script>

<div class="dont-be-too-big mx-auto space-y-4">
  <div>
    Secret sauce for my friends at work :)
  </div>

  <div
    class="
    bg-lime-50
    p-2
    rounded-lg
    shadow-lg
    space-y-2
    "
  >
    <div class="flex flex-row justify-between">
      <div class="font-semibold text-xl">LFG</div>
      <button
        class="
        border
        border-lime-50
        rounded
        p-1
        transition
        hover:border-green-900
        active:bg-lime-100
        "
        id="copy-lfg"
      >
        Copy
      </button>
    </div>
    <pre><code class="block p-2 rounded overflow-x-auto" id="lfg">:lfg-1-1::lfg-1-2::lfg-1-3::lfg-1-4:
:lfg-2-1::lfg-2-2::lfg-2-3::lfg-2-4:
:lfg-3-1::lfg-3-2::lfg-3-3::lfg-3-4:
:lfg-4-1::lfg-4-2::lfg-4-3::lfg-4-4:
</code></pre>
  </div>

  <div
    class="
    bg-lime-50
    p-2
    rounded-lg
    shadow-lg
    space-y-2
    "
  >
    <div class="flex flex-row justify-between">
      <div class="font-semibold text-xl">Mike Wazowski</div>
      <button
        class="
        border
        border-lime-50
        rounded
        p-1
        transition
        hover:border-green-900
        active:bg-lime-100
        "
        id="copy-mwz"
      >
        Copy
      </button>
    </div>
    <pre><code class="block p-2 rounded overflow-x-auto" id="mwz">:wazowski-stare-1-1::wazowski-stare-1-2::wazowski-stare-1-3::wazowski-stare-1-4::wazowski-stare-1-5::wazowski-stare-1-6::wazowski-stare-1-7::wazowski-stare-1-8:
:wazowski-stare-2-1::wazowski-stare-2-2::wazowski-stare-2-3::wazowski-stare-2-4::wazowski-stare-2-5::wazowski-stare-2-6::wazowski-stare-2-7::wazowski-stare-2-8:
:wazowski-stare-3-1::wazowski-stare-3-2::wazowski-stare-3-3::wazowski-stare-3-4::wazowski-stare-3-5::wazowski-stare-3-6::wazowski-stare-3-7::wazowski-stare-3-8:
:wazowski-stare-4-1::wazowski-stare-4-2::wazowski-stare-4-3::wazowski-stare-4-4::wazowski-stare-4-5::wazowski-stare-4-6::wazowski-stare-4-7::wazowski-stare-4-8:
:wazowski-stare-5-1::wazowski-stare-5-2::wazowski-stare-5-3::wazowski-stare-5-4::wazowski-stare-5-5::wazowski-stare-5-6::wazowski-stare-5-7::wazowski-stare-5-8:
:wazowski-stare-6-1::wazowski-stare-6-2::wazowski-stare-6-3::wazowski-stare-6-4::wazowski-stare-6-5::wazowski-stare-6-6::wazowski-stare-6-7::wazowski-stare-6-8:
:wazowski-stare-7-1::wazowski-stare-7-2::wazowski-stare-7-3::wazowski-stare-7-4::wazowski-stare-7-5::wazowski-stare-7-6::wazowski-stare-7-7::wazowski-stare-7-8:
:wazowski-stare-8-1::wazowski-stare-8-2::wazowski-stare-8-3::wazowski-stare-8-4::wazowski-stare-8-5::wazowski-stare-8-6::wazowski-stare-8-7::wazowski-stare-8-8:</code></pre>
  </div>

  <div
    class="
    bg-lime-50
    p-2
    rounded-lg
    shadow-lg
    space-y-2
    "
  >
    <div class="flex flex-row justify-between">
      <div class="font-semibold text-xl">Boar Head Exploding</div>
      <button
        class="
        border
        border-lime-50
        rounded
        p-1
        transition
        hover:border-green-900
        active:bg-lime-100
        "
        id="copy-boar"
      >
        Copy
      </button>
    </div>
    <pre><code class="block p-2 rounded overflow-x-auto" id="boar">:boarheadexploding-1-1::boarheadexploding-1-2::boarheadexploding-1-3:
:boarheadexploding-2-1::boarheadexploding-2-2::boarheadexploding-2-3:
:boarheadexploding-3-1::boarheadexploding-3-2::boarheadexploding-3-3:
</code></pre>
  </div>
</div>

{% endblock %}
