/* A class for the main title for the page. */
.title-text {
    font-family: 'Lobster Two', cursive;
    font-size: 64px;
}

/* A class for sub-titles. */
.project-text {
    font-family: 'Slabo 27px', serif;
}
