:root {
    --hawaii-background: #332a24;
    --hawaii-background-light: #40352d;
    --hawaii-background-dark: #26201b;
    --hawaii-comment: #997e6d;
    --hawaii-text: #ffffff;

    --hawaii-highlight-blue: #79eaf2;
    --hawaii-highlight-green: #aff279;
    --hawaii-highlight-orange: #ffb080;
    --hawaii-highlight-purple: #bb80ff;
    --hawaii-highlight-red: #ff4040;
}

body {
    background-color: var(--hawaii-background-dark);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23332a24'/%3E%3Cstop offset='1' stop-color='%2326201b'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%2340352d' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2340352d' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    color: var(--hawaii-highlight-orange);
    font-family: 'Fira Mono', monospace;
    margin: 0;
    padding: 1em 2rem 4rem 2rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.blog-entry {
    background: var(--hawaii-background-light);
    border-color: var(--hawaii-background-dark);
    border-radius: 1rem;
    border-style: solid;
    border-width: 0.25rem;
    font-family: sans-serif;
    margin: 0rem auto 4rem auto;
    padding: 1rem 2rem;
    width: 40%;
}

pre {
    background: var(--hawaii-background);
    border-radius: 0.3rem;
    font-size: 1rem;
    padding: 0.15rem 0.5rem;
}

code {
    background: var(--hawaii-background);
    border-radius: 0.3rem;
    font-size: 1rem;
    padding: 0.15rem 0.5rem;
}

img {
    max-width: 100%;
}

::selection {
    background: var(--hawaii-highlight-orange);
    color: var(--hawaii-background);
}

a {
    color: var(--hawaii-highlight-blue);
}

.large {
    font-size: 3rem;
}

.medium {
    font-size: 1.5rem;
}

.small {
    font-size: 1.1rem;
}

.tiny {
    font-size: 0.6rem;
}

.space::before {
    content: "\00a0";
}

.indent {
    padding-left: 1rem;
}

.comment {
    color: var(--hawaii-comment);
}

.highlight-blue {
    color: var(--hawaii-highlight-blue);
}

.highlight-green {
    color: var(--hawaii-highlight-green);
}

.highlight-orange {
    color: var(--hawaii-highlight-orange);
}

.highlight-purple {
    color: var(--hawaii-highlight-purple);
}

.highlight-red {
    color: var(--hawaii-highlight-red);
}

.top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-container {
    background-color: var(--hawaii-background-light);
    border-radius: 2.5rem;
    box-sizing: border-box;
    display: inline-block;
    height: 5rem;
    padding: 0px 0.6rem;
    text-decoration: none;
    text-align: center;
    transition: filter 0.1s;
    width: 5rem;
}

.logo-container:hover {
    filter: brightness(110%);
}

.logo {
    height: 2.5rem;
    margin: calc(5rem / 2 - 2.5rem / 2) auto;
    filter: grayscale(1.0) brightness(0) invert(72%) sepia(31%) saturate(703%) hue-rotate(330deg) brightness(101%) contrast(106%);;
}

@media only screen and (max-width: 768px) {
    .top-bar {
        flex-direction: column;
        text-align: center;
    }

    .top-elem {
        margin: 0rem auto 1rem auto;
        text-align: left;
    }

    .logo-container {
        height: 4rem;
        width: 4rem;
    }

    .logo {
        height: 2.2rem;
        margin: calc(4rem / 2 - 2.2rem / 2) auto;
    }

    .blog-entry {
        width: 80%;
    }
}

h1, h2, h3, h4, h5, h6 {
    margin: 1rem 0rem 0.2rem 0rem;
    padding: 0px;
}

p {
    margin: 0.2rem 0rem 1rem 0rem;
}
