extends ./wrapper.jade

block content
    .container
        h1.text-center.title-text Cerek Hillen
        h2.text-center.project-text Programmer:
            a(href='http://github.com/crockeo' target='_blank')
                img(src='GitHub-Mark-32px.png' width='25')
        
        hr
            
        div
            h2.project-text Projects&mdash;
            table.table.table-striped
                thead
                    tr
                        th Project Name
                        th Language
                        th Description

                tbody
                    tr
                        td
                            a(href='http://github.com/crockeo/whatisthisgame' target='_blank') whatisthisgame
                        td Haskell
                        td A videogame written in Haskell using FRP (<a href="http://hackage.haskell.org/package/elerea" target="_blank">Elerea</a>) and OpenGL.
                        
                    tr
                        td
                            a(href='http://github.com/crockeo/gualy' target='_blank') gualy
                        td Node.js
                        td A goal tracking app written using the MongoDB, Express, React, and Node.

                    tr
                        td
                            a(href='http://github.com/crockeo/chatterbox' target='_blank') chatterbox
                        td Node.js
                        td A fully-fledged chat application with user management and channels.
                        
                    tr
                        td
                            a(href='http://github.com/crockeo/lips' target='_blank') lips
                        td Haskell
                        td An interpreter for a derivative of Scheme.
                        
                    tr
                        td
                            a(href='http://github.com/crockeo/dogenerator' target='_blank') dogenerator
                        td Scala
                        td A program to randomly generate Doge memes.
                        
                    tr
                        td
                            a(href='http://github.com/crockeo/clibgame' target='_blank') clibgame
                        td C++
                        td A set of utilities to develop games in C++.

                    tr
                        td
                            a(href='http://github.com/crockeo/lentil' target='_blank') lentil
                        td C
                        td A better designed spiritual successor of clibgame.
                        
                    tr
                        td
                            a(href='http://github.com/crockeo/dotfile-manager' target='_blank') dotfile-manager
                        td Go
                        td A command-line utility to download and install dotfiles from GitHub.
                
                    tr
                        td
                            a(href='http://github.com/crockeo/sinterklooser' target='_blank') sinterklooser
                        td C++
                        td An escapade into the realm of graph problems in an attempt to optimally match people for the secret santa-like holiday of Sinterklaas.
                        
                    tr
                        td
                            a(href='http://github.com/crockeo/jsonr' target='_blank') jsonr
                        td C++
                        td A JSON-parsing library in C++.
                        
                    tr
                        td
                            a(href='http://github.com/crockeo/repadder' target='_blank') repadder
                        td Objective C
                        td A utility for Macs to bind controller input to keystrokes.
                        
                    tr
                        td
                            a(href='http://github.com/crockeo?tab=repositories' target='_blank') GitHub
                        td ...
                        td With tons of other projects on my GitHub!
                        
        div
            h2.project-text Experience&mdash;
            table.table.table-striped
                thead
                    tr
                        th Name
                        th Description
                        th Timeframe
                    
                tbody
                    tr
                        td Recurse Center
                        td Self branded as a programmers' retreat - it serves as a congretational space for programmers to collaboratively learn with the guidance of paid facilitators.
                        td Fall 2014

                    tr
                        td Bongoware
                        td A consulting startup that develops database software for hospital groups.
                        td Summer-Fall 2015
                        
        div
            h2.project-text Education&mdash;
            table.table.table-striped
                thead
                    tr
                        th Course Name
                        th Institution
                        th Description
                        th Timeframe
                        th Certificate

                tbody
                    tr
                        td CS50x - Introduction to Computer Science
                        td Harvard
                        td An online introduction to basic computer science concepts.
                        td 2012/2013
                        td
                            a(href='certificates/cs50x.pdf') Link
                            
                    tr
                        td Functional Programming Principles in Scala
                        td EPFL
                        td A course on basic functional programming principles.
                        td Fall 2013
                        td
                            a(href='certificates/funcprog.pdf') Link
                            
                    tr
                        td Principles of Reactive Programming
                        td EPFL
                        td Using the base provided by the introduction to functional programming also offered by the EPFL, it expands into the more specific realm of functional reactive programming.
                        td Fall 2013
                        td
                            a(href='certificates/reactive.pdf') Link

                    tr
                        td Algorithms I
                        td Princeton
                        td The first half of a data structures and algorithms class.
                        td Spring 2014
                        td Course does not provide a certificate.
                        
                    tr
                        td Algorithms II
                        td Princeton
                        td The second half of a data structures and algorithms class.
                        td Spring 2014
                        td Course does not provide a certificate.
                        
                    tr
                        td Calculus 1
                        td The Ohio State University
                        td A calculus course covering both derivative and integral calculus along with some of its applications.
                        td Fall 2013
                        td
                            a(href='certificates/calc1.pdf') Link
                    
                    tr
                        td Calculus 2
                        td The Ohio State University
                        td A course covering calculus surrounding sequences and series.
                        td Spring 2014
                        td
                            a(href='certificates/calc2.pdf') Link

                    tr
                        td Introduction to Computation
                        td University of Massachusetts
                        td A discrete math class with a specific focus on discrete math for the sake of computer science.
                        td Fall 2015
                        td N/A (course taken in-person)
