<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home of the Crockeo</title>
    <link rel="stylesheet" href="/base.css" />
    {% block head %} {% endblock %}
  </head>

  <body
    class="
    bg-lime-100
    text-green-900
    flex
    flex-col
    h-screen
    m-0
    select-none
    "
  >
    <div
      class="
      flex
      flex-none
      flex-row
      font-semibold
      justify-center
      p-4
      space-x-8
      text-xl
      "
    >
      <a class="group" href="/">🏡 <span class="group-hover:underline">Home</span></a>
      <span class="font-light">|</span>
      <a class="group" href="/writing">📝 <span class="group-hover:underline">Writing</span></a>
      <span class="font-light">|</span>
      <a class="group" href="/work">💽 <span class="group-hover:underline">Work</span></a>
    </div>

    {% block content %} {% endblock %}
  </body>
</html>
