{% extends "base.html" %}

{% block content %}

<div class="mx-auto flex flex-col grow justify-center items-center space-y-8">
  <div class="flex flex-col items-center md:flex-row md:space-x-8">
    <img class="rounded-full border-2 border-green-900 shadow shadow-lime-700 w-48 h-48 " src="profile.jpeg" />

    <div class="flex flex-col space-y-2">
      <div class="text-5xl font-semibold">Cerek Hillen</div>
      <div class="text-2xl text-lime-700">
        <span class="text-lime-700">Sr. Software Engineer @</span>
        <a class="font-bold hover:brightness-90 underline" href="https://ramp.com">Ramp</a>
      </div>

      <div class="text-3xl flex flex-row justify-center items-center px-2 space-x-16">
        <a href="https://github.com/crockeo">
          <img class="w-8 filter-green-900" src="github-brands.svg" />
        </a>

        <div class="font-bold">•</div>

        <a href="https://www.linkedin.com/in/cerek-hillen/">
          <img class="w-8 filter-green-900" src="linkedin-brands.svg" />
        </a>
      </div>
    </div>
  </div>

  <div class="flex flex-row space-x-8 md:space-x-16 text-sm text-lime-700 px-2">
    <a class="flex flex-col items-center" href="https://github.com/crockeo/.emacs.d" target="_blank">
      <img class="w-16 h-16" src="emacs.png" />
      <div class="mt-2">Emacs</div>
    </a>

    <a class="flex flex-col items-center" href="https://github.com/crockeo/nvim" target="_blank">
      <img class="w-16 h-16" src="neovim.png" />
      <div class="mt-2">Neovim</div>
    </a>

    <a class="flex flex-col items-center" href="https://github.com/crockeo?tab=repositories&q=&type=&language=rust" target="_blank">
      <img class="w-16 h-16" src="rust.png" />
      <div class="mt-2">Rust</div>
    </a>

    <a class="flex flex-col items-center" href="https://github.com/crockeo?tab=repositories&q=&type=&language=python" target="_blank">
      <img class="w-16 h-16" src="python.png" />
      <div class="mt-2">Python</div>
    </a>
  </div>
</div>

{% endblock content %}
